<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <!-- rss -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml" />

  <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="/bower_components/polymer/polymer.html">
  <link rel="import" href="/bower_components/iron-component-page/iron-component-page.html">
  <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="/components/pager.html">
  <link rel="import" href="/bower_components/paper-card/paper-card.html">
  <link rel="import" href="/components/style.html">
  <link rel="import" href="/bower_components/fontawesome-iconset/fa-all.html">

  <link rel="stylesheet" href="{{ "/css/highlight.css" | prepend: site.baseurl }}">
  <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->
  <style is="custom-style">
  </style>
</head>
