---
layout: default
---

<div class="card-wrapper">
    <paper-card class="custom">
        <div class="card-content">
            <div class="title">
                <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
            </div>
            <div class="subtitle">{{ page.date | date: '%Y %B %-d' }}</div>
            {{ content }}
        </div>
        <div class="card-actions">
            <a href="javascript:history.back()"><paper-button>Go Back</paper-button></a>
        </div>
    </paper-card>
</div>
